body{
    background-color: beige;
}

.search-country{
    text-align: center;
    font-family: monospace;
    padding-bottom: 10px;
}

.search-currency{
    text-align: center;
    font-family: monospace;
}

.page-title {
    font-family: monospace;
    text-align: center;
}

.country-name{
    font-weight: bolder;
    font-family: monospace;
    padding-bottom: 10px;
    text-align: center;
}

.country-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country-column {
    flex-basis: calc(16% - 20px); /* Adjust the width as needed */
    list-style-type: none;
    
}

.curreny-title{
    font-family: monospace;
    padding-bottom: 10px;
    text-align: center;

}

.region-title{
    background-color: burlywood;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    text-align:left;
    
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}

.region-list{
    list-style-type: none;
    background-color: burlywood;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: monospace;


    
}

.flag-container{
    text-align: center;
    transform: scale(1);
}



